<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="card my-3">
        <div class="card-header ">
          Agregar rol empleado
        </div>
        <form [formGroup]="form" >
          <label class="form-label"  >
            Nombre  <input type="text" placeholder="Nombre"  class="form-control"  formControlName="nombre" [ngClass]="{'is-invalid': !form.get('nombre')?.valid}">
          </label>
          <div class="form-check form-switch">
            <input type="checkbox" class="form-check-input" id="idcheck" formControlName="activo" >
            <label for="idcheck" class="form-check-label" >  Activo </label>
          </div>
          <hr>
          <div class="col-12" formGroupName="menu1">
            <h3>Seguridad</h3>
            <label>
              <input class="inpt" type="checkbox"formControlName="roles"> Roles
            </label>
            <br>
            <label>
              <input class="inpt" type="checkbox"formControlName="usuario"> Usuario
            </label>
            <br>
            <label>
              <input class="inpt" type="checkbox"formControlName="tablero"> Tablero de control
            </label>         
          </div>

          <br>

          <div class="col-12" formGroupName="menu2">
            <h3>Calidad de datos</h3>
            <label>
              <input class="inpt" type="checkbox"formControlName="soli_captura"> Solicitar captura
            </label>
            <br>
            <label>
              <input class="inpt" type="checkbox"formControlName="consulta_captura"> Consulta captura
            </label>
          </div>    

          <br>

          <div class="col-12" formGroupName="menu3">
            <h3>Asignación de código</h3>
            <label>
              <input class="inpt" type="checkbox"formControlName="asignar_codigo"> Asignar código de barras
            </label>
            <br>
            <label>
              <input class="inpt" type="checkbox"formControlName="lista_codigo"> Lista de códigos
            </label>
            <br>
            <label>
              <input class="inpt" type="checkbox"formControlName="tablero"> Tablero de control
            </label>         
          </div>

          

          <div class="div-button">
            <br><button class="btn btn-danger md-3" (click)="clear()" > cancelar </button>
          | <button class="btn btn-primary md-3 " type="submit" (click)="Send()" > enviar </button>
          </div>

        </form>
      </div>
    </div>
    <div class="col-6">

      <pre>{{form.value | json }}</pre>
    
    </div>
    
    
  </div>
</div>
